@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#par {
	font-family: Poppins;
	border: 10px solid rgb(0, 110, 255);
	border-radius: 200px;
	margin-top: 150px;
	text-align: center;
	font-size: 200px;
}